In [1]:
# Dependencies

import pandas as pd

In [2]:
#https://www.kaggle.com/tinoswe/split-python-dataframe
title_basics = pd.read_csv('../data/title.basics.tsv',delimiter='\t',encoding='utf-8-sig')

C:\Users\alerosa\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(list(title_basics.columns.values))

['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

In [4]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6751895,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6751896,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6751897,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6751898,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6751899,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [5]:
title_basics_filtered = title_basics[title_basics['titleType']!="tvEpisode"]
title_basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
title_basics_filtered.count

<bound method DataFrame.count of             tconst titleType                    primaryTitle  \
0        tt0000001     short                      Carmencita
1        tt0000002     short          Le clown et ses chiens
2        tt0000003     short                  Pauvre Pierrot
3        tt0000004     short                     Un bon bock
4        tt0000005     short                Blacksmith Scene
...            ...       ...                             ...
6751841  tt9916734     video                    Manca: Peleo
6751850  tt9916754     movie  Chico Albuquerque - RevelaÃ§Ãµes
6751851  tt9916756     short        Pretty Pretty Black Girl
6751855  tt9916764     short                              38
6751898  tt9916856     short                        The Wind

                          originalTitle  isAdult startYear endYear  \
0                            Carmencita        0      1894      \N
1                Le clown et ses chiens        0      1892      \N
2                        Pauvre Pierrot        0      1892      \N
3                           Un bon bock        0      1892      \N
4                      Blacksmith Scene        0      1893      \N
...                                 ...      ...       ...     ...
6751841                    Manca: Peleo        0      2018      \N
6751850  Chico Albuquerque - RevelaÃ§Ãµes        0      2013      \N
6751851        Pretty Pretty Black Girl        0      2019      \N
6751855                              38        0      2018      \N
6751898                        The Wind        0      2015      \N

        runtimeMinutes                    genres
0                    1         Documentary,Short
1                    5           Animation,Short
2                    4  Animation,Comedy,Romance
3                   12           Animation,Short
4                    1              Comedy,Short
...                ...                       ...
6751841             \N               Music,Short
6751850             49               Documentary
6751851             \N                     Short
6751855             \N                     Short
6751898             27                     Short

[1948514 rows x 9 columns]>

In [15]:
title_ratings = pd.read_csv('../data/title.ratings.tsv',delimiter='\t',encoding='utf-8-sig')

In [16]:
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.6      1609
1        tt0000002            6.0       197
2        tt0000003            6.5      1287
3        tt0000004            6.1       121
4        tt0000005            6.1      2052
...            ...            ...       ...
1031803  tt9916576            6.0         9
1031804  tt9916578            8.4        17
1031805  tt9916720            5.6        49
1031806  tt9916766            6.8        13
1031807  tt9916778            7.2        21

[1031808 rows x 3 columns]

In [7]:
title_crew = pd.read_csv('../data/title.crew.tsv',delimiter='\t',encoding='utf-8-sig')

In [8]:
title_crew

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
6751895  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6751896  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6751897  tt9916852  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
6751898  tt9916856           nm10538645                      nm6951431
6751899  tt9916880            nm0996406            nm1482639,nm2586970

[6751900 rows x 3 columns]

In [9]:
name_basics = pd.read_csv('../data/name.basics.tsv',delimiter='\t',encoding='utf-8-sig')

In [10]:
name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0043044,tt0050419,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0049189,tt0054452,tt0057345,tt0059956"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0060827,tt0050986"
...,...,...,...,...,...,...
10046386,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10046387,nm9993716,Essias Loberg,\N,\N,NaN,\N
10046388,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10046389,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10046390,nm9993719,Andre Hill,\N,\N,NaN,\N

In [11]:
box_office = pd.read_csv('../data/boxoffice.csv')

In [12]:
box_office

,rank,title,studio,lifetime_gross,year
0,1,Star Wars: The Force Awakens,BV,936662225,2015
1,2,Avatar,Fox,760507625,2009
2,3,Black Panther,BV,700059566,2018
3,4,Avengers: Infinity War,BV,678681680,2018
4,5,Titanic,Par.,659363944,1997
...,...,...,...,...,...
15738,15739,Dog Eat Dog,IFC,80,2009
15739,15740,Paranoid Girls,NaN,78,2015
15740,15741,Confession of a Child of the Century,Cohen,74,2015
15741,15742,Storage 24,Magn.,72,2013
15742,15743,Zyzzyx Road,Reg.,30,2006

In [18]:
#Merge basic df and rating df
title_ratings_merged = title_basics_filtered.set_index('tconst').join(title_ratings.set_index('tconst'))
title_ratings_merged

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.6,1609.0
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.0,197.0
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1287.0
tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",6.1,121.0
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.1,2052.0
...,...,...,...,...,...,...,...,...,...,...
tt9916734,video,Manca: Peleo,Manca: Peleo,0,2018,\N,\N,"Music,Short",NaN,NaN
tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary,NaN,NaN
tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short,NaN,NaN
tt9916764,short,38,38,0,2018,\N,\N,Short,NaN,NaN
tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,NaN,NaN

In [24]:
crew_merged = title_crew.set_index('tconst').join(title_basics.set_index('tconst'))
crew_merged

,directors,writers,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,,,
tt0000001,nm0005690,\N,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
tt0000002,nm0721526,\N,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
tt0000003,nm0721526,\N,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
tt0000004,nm0721526,\N,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
tt0000005,nm0005690,\N,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...,...
tt9916848,"nm5519454,nm5519375","nm6182221,nm1628284,nm2921377",tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
tt9916850,"nm5519454,nm5519375","nm6182221,nm1628284,nm2921377",tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
tt9916852,"nm5519375,nm5519454","nm6182221,nm1628284,nm2921377",tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
tt9916856,nm10538645,nm6951431,short,The Wind,The Wind,0,2015,\N,27,Short
tt9916880,nm0996406,"nm1482639,nm2586970",tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [27]:
#merge name basics df and title crew
crew_merged_final = crew_merged.set_index('directors').join(name_basics.set_index('nconst'))
crew_merged_final

,writers,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
\N,\N,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,\N,\N,Short,NaN,NaN,NaN,NaN,NaN
\N,\N,short,Pompiers Ã Lyon,Pompiers Ã Lyon,0,1896,\N,1,"Documentary,Short",NaN,NaN,NaN,NaN,NaN
\N,\N,short,The Terrible Railway Accident,The Terrible Railway Accident,0,1896,\N,\N,Short,NaN,NaN,NaN,NaN,NaN
\N,\N,short,The Wandering Negro Minstrels,The Wandering Negro Minstrels,0,1896,\N,\N,"Music,Short",NaN,NaN,NaN,NaN,NaN
\N,\N,short,Brittania,Brittania,0,1898,\N,\N,Short,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"nm9993708,nm2113498,nm9993709","nm9993708,nm9993709",short,Sound Mind: Evil People,Sound Mind: Evil People,0,2020,\N,\N,"Short,Thriller",NaN,NaN,NaN,NaN,NaN
"nm9993708,nm9993709","nm9993708,nm9993709",short,Sound Mind: Breaking Me Down,Sound Mind: Breaking Me Down,0,2020,\N,9,"Drama,Short",NaN,NaN,NaN,NaN,NaN
"nm9993708,nm9993709","nm3571226,nm3571315",short,Lost Light Sound Hearts,Lost Light Sound Hearts,0,2018,\N,\N,"Drama,Short",NaN,NaN,NaN,NaN,NaN
nm9993709,"nm9993708,nm9993709",short,My Dear Arthur,My Dear Arthur,0,2015,\N,5,"Horror,Short",Lu Bevins,\N,\N,"director,writer,cinematographer","tt11772858,tt11772904,tt11702702,tt11772940"
"nm9993709,nm9993708","nm9993708,nm9993709",short,ID,ID,0,2015,\N,5,Short,NaN,NaN,NaN,NaN,NaN